
.bodyz {
  font-family: 'Montserrat', sans-serif;
  color: #ff6060;
}

.container {
  margin: 30px 100px;

  @media ( width <= 1092px){
    margin: 30px 50px;
  }

  @media (width <= 768px){
    margin:20px;
  }
}

/*********************************ACCUEIL*********************************************/


.grid {
  background-color: rgba(60, 59, 59, 0.11);
  border-radius: 15px;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (width <=768px) {
    background: none;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:25px;
  }
}

.card {
  background-image: linear-gradient(to top, #863535, #ff6060);
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  flex-basis: 30%;
  display: grid;
  align-items: end;
  position: relative;
  @media (width <=768px) {
    gap: 15px;
    width: 100%;
  }

  &__title {
    width: 70%;
    margin: 5px;
    padding: 0;
    color: white;
    opacity: 1;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 100%;
    position: absolute;
    flex-basis: 30%;
    top: 0;
  }
}


/************************************FOOTER*********************************************/
.footer {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  max-height: 100%;
  margin-top: 115px;
  padding-bottom: 85px;
  padding-top: 148px;
  .imgFooter {
    padding: 20px;
  }
}

/******************************************Detail annonce********************************************/

.logement__titre {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #FF6060;
  position: inherit;
}

.logement__lieu {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  color: #FF6060;
}

.tag {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #ff6060;
  border-radius: 8px;
  padding: 2px 15px;
  margin-right: 10px;
}

.logement__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px;
  @media (width <=768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.logement__container{
 
  @media (width <= 768px){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
    
}

.logement__proprio {
  display: flex;
  align-items: center;
  @media (width <=768px) {
 
  }
}

.logement__proprio__badge {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #C4C4C4;
}

h3 {
  width: min-content;
  display: flex;
  align-items: flex-end;
  text-align: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding-right: 15px;
}

.logement__proprio__stars {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #C4C4C4;
}

.on {
  color: #FF6060;
}

.logement__description {
  display: flex;
  justify-content: space-between;
  
  @media screen and (width <=768px) {
    display: flex;
    flex-direction: column;
  }
}


.logement__description__card {
  display: flex;
  justify-content: flex-end;
}

.logement__description__card__contenu {
  background: #f6f6f6;
  flex-basis: 42%;
  min-height: 331px;
  border-radius: 0 0 5px 5px;
  padding: 25px 20px;
}

.logement__desciption__arrow {
  display: flex;
  justify-content: space-between;

  position: relative;
  top: 18px;
  background: #ff6060;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;

  line-height: 0px;
  display: flex;
  align-items: center;

  padding: 0px 5px;
  margin: 0;
}

.img__arrow {
  cursor: pointer;
}

li {
  list-style-type: none;
}

/***********************404*******************************/

.taille404 {
  font-size: 170px;
  text-align: center;
  font-family: 'Montserrat';
  line-height: normal;
  @media (width <=768px) {
    position: inherit;
  }
}

.tailleh2 {
  font-size: 40px;
  text-align: center;
}

.lienAccueil {
  color: #FF6060;
  text-align: center;
  text-decoration: underline;
}

/********************************Aprop*****************************************/

.Aprop__background{
  position: relative;
  background: url(../assets/images/kalen.png) center/cover;
  max-width: 100%;
  max-height: 100%;
  min-height: 223px;
  margin: auto; 
  border-radius: 25px;

  @media (width<=768px) {
    background: url(../assets/images/kalen-Unsplash.png)center/cover;
  }
}

.Aprop__background::before {
  position: absolute;
  content: "";
  inset:0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}