@use "../scss/variables" as *;

*, ::before,::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: normal;
  font-family: Montserrat;
}

a{
  text-decoration: none;
}
  

body{
  max-width:1440px;
  max-height: 1024px;
  background: $secondary-color;
}


li{
  list-style: none;
}

.container {
  margin: 20px 64px 20px 100px;

  @media ( width <= 1092px){
    margin: 30px 50px;
  }

  @media (width <= 768px){
    margin:20px;
  }
}

/*********************************ACCUEIL*********************************************/
.grid {
  background-color: rgba(60, 59, 59, 0.11);
  border-radius: 15px;
  margin-top: 43px;
  gap: 35px;
  padding: 35px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (width <=768px) {
    background: none;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:25px;
    margin: 0;
  }
}

.card {
  background-image: linear-gradient(to top, #863535, #ff6060);
  border-radius: 10px;
  min-width: 200px;
  min-height: 200px;
  flex-basis: 30%;
  display: grid;
  align-items: end;
  position: relative;
  object-fit: cover;
  @media (width <=768px) {
    gap: 15px;
    width: 100%;
  }

  &__title {
    width: 70%;
    margin: 5px;
    padding: 0;
   
    color:$secondary-color;
    opacity: 1;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-width: 100%;
    position: absolute;
    flex-basis: 30%;
    top: 0;
  }
}


/************************************FOOTER*********************************************/
.footer {
  background: black;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  height:209px;
  gap:20px;
  position: absolute;
}

/******************************************Detail annonce********************************************/

.logement__titre {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ff6060;
  position: inherit;
}

.logement__lieu {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  color:$color-primary;
}

.tag {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: $secondary-color;
  background: $color-primary;
  border-radius: 8px;
  padding: 2px 15px;
  margin-right: 10px;
  @media(width<=768px){
    padding: 3px 2px;
    margin: 1px;
  }
}

.logement__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px;
  @media (width <=768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.logement__container{
 
  @media (width <= 768px){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
    
}

.logement__proprio {
  display: flex;
  align-items: center;
  h3 {
    width: min-content;
    display: flex;
    align-items: flex-end;
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    padding-right: 15px;
    color:#ff6060;
  }
  .logement__proprio__badge {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #C4C4C4;
  }
}

.logement__proprio__stars {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #e3e3e3;
  .on {
    color:$color-primary;
  }
}

.logement__description {
  display: flex;
  justify-content: space-between;
  
  @media screen and (width <=768px) {
    display: flex;
    flex-direction: column;
  }
}


.logement__description__card {
  display: flex;
  justify-content: flex-end;
}

.logement__description__card__contenu {
  background: #f6f6f6;
  flex-basis: 42%;
  min-height: 331px;
  border-radius: 0 0 5px 5px;
  padding: 25px 20px;
}

.logement__desciption__arrow {
  display: flex;
  justify-content: space-between;

  position: relative;
  top: 18px;
  background: $color-primary;
  border-radius: 5px;
  color: $secondary-color;
  font-style: normal;

  line-height: 0px;
  display: flex;
  align-items: center;

  padding: 0px 5px;
  margin: 0;
}

.img__arrow {
  cursor: pointer;
}

li {
  list-style-type: none;
}

/***********************404*******************************/

.bodyz {
  color: $color-primary;
  line-height: 411px;
  max-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  @media (width<= 768px){
    height: 128vw;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .taille404 {
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 411px;
    display: flex;
    align-items: center;
    text-align: center;
  
    @media (width <=768px) {
      font-weight: 700;
      font-size: 96px;
      line-height: 142.6%;
      width:auto;
    }
  }

  .tailleh2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
    @media(width <= 768px){
      font-size: 18px;
      line-height: 26px;
      
      display: flex;
      align-items: flex-end;
      text-align: center; 
    }
  }

  .lienAccueil {
    color:$color-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-decoration: underline;
    @media (width <= 768px){
      line-height: 20px ;
      font-size: 14px;
    }
  }
}

/********************************Aprop*****************************************/

.Aprop__background{
  position: relative;
  background: url(../assets/images/kalen.png) center/cover;
  max-width: 100%;
  max-height: 100%;
  min-height: 223px;
  margin: auto;
  margin-top: 68px; 
  border-radius: 25px;

  @media (width<=768px) {
    background: url(../assets/images/kalen-Unsplash.png)center/cover;
  }
}

.Aprop__background::before {
  position: absolute;
  content: "";
  inset:0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);
}