@use "../scss/variables" as *;

.banner {
    position: relative;
    background: url(../assets/images/Home.png) center/cover;
    height: 223px;
    max-width: 100%;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: $secondary-color;
    @media screen and (width <= 768px){
        height: 111px;
        border-radius: 10px;
    }
    .lourd {
        opacity: 0.8;
    }
    .br {
        display: none;
    }
}

.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    @media screen and (width <= 768px){
        height: 111px;
        border-radius: 10px;
    }
}

@media screen and (width <=768px) {
    .br {
        display: initial;
    }

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 27px;
        width: 80%;
    }
}