.banner {
    position: relative;
    background: url(../assets/images/Home.png) center/cover;
    min-height: 150px;
    max-width: 100%;
    margin: auto;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: white;
    .lourd {
        opacity: 0.8;
    }
    
    .br {
        display: none;
    }
}

.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (width <=768px) {
    .br {
        display: initial;
    }

    h1 {
        position: absolute;
        left: 9.6%;
        right: 32.53%;
        top: 14.04%;
        bottom: 80.05%;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 27px;
    }
}