.k-banner {
    color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .k-banner__Logo {
        max-width: 100%;
        .k-banner__img {
            width: 85%;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        gap:70px;
        padding:0;
        @media (width <= 768px){
            gap: 20px;
        }
    }
    li{
        white-space: nowrap;
    }
}

a {
    text-decoration: none;
}

.lien__nav {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    @media screen and (width <=768px) {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
    }
}

.lien__nav:hover {
    text-decoration: underline;
}

